/* Main content */
.page-wrapper {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Fixed sidenav, full height */
.dropdown-sidebar {
    height: auto;
    min-height: 35%;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    padding-bottom: 10px;
}

/* Style the sidenav links and the dropdown button */
.dropdown-sidebar a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */
.dropdown-sidebar a:hover, .dropdown-btn:hover {
    color: white;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #262626;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.dropdown-sidebar-title {
    padding: 0px 8px 0px 16px;
}


.dropdown-sidebar-title h2{
    color: white;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}
.Winkelen{
    float: right;
    margin-right: 50px;
}
.Assortiment{
    display: inline-block;
    width: 100%;
    border: 8px groove #262626;
    border-radius: 12px;
    max-height: 500px;
    text-align: center;

}

.Assortiment>img{
    max-width: 400px;
    max-height: 200px;
    width: auto;
    height: auto;
}
.Assortiment>input.winkelen{
    font-size: 1em;
    border-radius: 10px;
}
#assort{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    min-width: 80px;
}
a{
    color: #51bb7b;
}
a:visited{
    color: #51bb7b;
}
a:hover{
    color: #51bb7b;
}
.page-wrapper{
    margin-left: 120px;
}
@media screen and ( max-width: 1060px) {
    .container {
        width: 98%;
    }
    #assort{
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        min-width: 80px;
    }
}
@media screen and ( max-width: 860px){
    #assort{
        display: block;
        list-style-type: none;
        min-width: 80px;
    }
}

/*button */
.store {
    background: var(--gray);
}
.img-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.store-img {
    transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
    transform: scale(1.2);
}
.store-item-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.75rem;
    background: var(--green);
    border-top-left-radius: 1rem;
    transition: all 1s ease-in-out;
    transform: translate(100%, 100%);
}
.img-container:hover .store-item-icon {
    transform: translate(0, 0);
}
.store-item-icon:hover {
    color: var(--white);
}
