html,
body
{
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Lora', serif;
}

a{
    text-decoration: none;
    color: #d3d3d3;
}

.btn
{
    padding: .5rem 1rem;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn-big
{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;

}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Candal', serif;
    color: #444;
    margin: 5px;
}

/* PAGE WRAPPER */
.page-wrapper
{
    min-height: 100% ;
}

/* FOOTER */
.footer{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}

.footer .footer-content
{
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section
{
    flex: 1;
    padding: 25px;
}

.footer .footer-content h1, .footer .footer-content h2
{
    color:white;
}

.footer .footer-content .about h1 span{
    color: #51bb7b;
    font-family: Vivaldi, serif;
}

.footer .footer-content .about .contact span
{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .footer-content .socials a {
    border: 1px solid gray;
    width: 45px;
    height: 29px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}

.footer .footer-content .socials a:hover
{
    border: 1px solid white;
    color: white;
    transition: all .3s;
}

.footer .footer-content .links ul a
{
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
}

.footer .footer-content .links ul a:hover
{
    color:white;
    margin-left: 15px;
    transition: all .3s;
}

.footer .footer-content .contact-form .contact-input
{
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 85%;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #1a1a1a;
}

.footer .footer-content .contact-form .contact-btn
{
    float: left;
}

.footer .footer-bottom
{
    background: #343a40;
    color: #686868;
    height: 50px;
    text-align: center;
    position: relative;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
}
