page-wrapper
{
    align-content: center;
}

hr
{
    width:100%;
}

h1
{
    text-align: center;
}



.textvak
{
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
    border-radius: 15px;
}

#pc {
    color: orange;
    width: 15%;
    float: left;
}

#gem {
    width: 52%;
    float: right;
}

.init_tabel {
    width: 25%;
    margin-left: 35%;
    margin-right: 35%;
}

.gegevenstabel, .wachtwoordtabel {
    width: 25%;
    margin-left: 35%;
    margin-right: 35%;
}

.aanpassenknop {
    width: 150px;
    height: 30px;
    background: #212930;
    color: #42b983;
    border: none;
    text-shadow: white;
    border-radius: 7.5px;
}

.gegevensknop {
    width: 130px;
    height: 30px;
    background: #212930;
    color: #42b983;
    border: none;
    text-shadow: white;
    border-radius: 7.5px;
}

.wachtwoordknop {
    width: 180px;
    height: 30px;
    background: #212930;
    color: #42b983;
    border: none;
    text-shadow: white;
    border-radius: 7.5px;
}

/* Fixed sidenav, full height */
.dropdown-sidebar {
    height: auto;
    min-height: 30%;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    border-right: groove lightgrey 2px;
}

/* Style the sidenav links and the dropdown button */
.dropdown-sidebar a {
    padding: 40px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #111;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */
.dropdown-sidebar a:hover {
    color: #51bb7b;
}

@media screen and (max-width: 870px) {
    .init_tabel, .gegevenstabel, .wachtwoordtabel {margin-left: 30%; margin-right: 30%; width: 35%;}
    .adres {width: 45%;}
    .huisnummer {width: 8%;}
}

@media screen and (max-width: 600px) {
    .init_tabel, .gegevenstabel, .wachtwoordtabel {margin-left: 25%; margin-right: 0%; width: 45%;}
}