.clearfix::after
{
    content: '';
    display: block;
    clear: both;
}

.btn
{
    padding: .5rem 1rem;
    background: #006669;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn:hover{
    color:white !important;
    background-color: #005255;
}

.page-wrapper h1

{
    font-family: 'Cambria', serif;
    color: #444;
}

.page-wrapper a:hover
{
    color: #006669;
}

/* POST SLIDER */
.post-slider
{
    position: relative;
}
.post-slider .slider-title
{
    text-align: center;
    margin: 30px auto;

}

.post-slider .next
{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}

.post-slider .prev
{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}

.post-slider .post-wrapper
{
    width: 84%;
    height: 450px;
    margin:0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;

}

.post-slider .post-wrapper .post
{
    height: 420px;
    width: 300px;
    margin: 0px 10px;
    background: white;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info
{
    height: 130px;
    padding: 0px 5px;
}

.post-slider .post-wrapper .post .post-info a
{
    padding-left: 10px;
    color: #51bb7b;
    font-weight: bold;
}

.post-slider .post-wrapper .post .post-info a:hover
{
    color: #006669;
}


.post-slider .post-wrapper .post .slider-image
{
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid lightgrey;
}

/* CONTENT */
.content{
    width: 90%;
    margin: 30px auto 30px;

}

.content .main-content
{
    width: 100%;
    float: left;
}


.content  .main-content .recent-post-title
{
    text-align: center;
    margin: 30px auto;

}

.content  .main-content .post
{
    width: 95%;
    margin :10px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content  .main-content .post a
{
    color: #006669 !important;
    background: transparent;
}

.content  .main-content .post .post-image
{
    width: 30%;
    height: 100%;
    float: left;
}

.content  .main-content .post .post-preview
{
    width: 65%;
    padding: 10px;
}

.content  .main-content .post .read-more a
{
    border: 1px solid #006669;
}

.content  .main-content .post .btn .read-more
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #006669;
    background: transparent;
    border-radius: 0px;
    color: #005255 !important;
}

.content  .main-content .post .btn .read-more:hover
{
    background: #006669;
    color: white !important;
    transition: .25s;
}

.reclame
{
    position:absolute;
    width: 90%;
    height: 100px;
    border: 1px solid red;
}

.advertisement
{
    font-size: 15pt;
    text-align: center;
    position: relative;
    width: 60%;
    height: 75px;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
}
.post{
    display: flex;
}
