.page-wrapper
{
    align-content: center;
    width:100%;
}

.text-vak
{
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
    border-radius: 15px;
}

hr
{
    width:100%;
}

h1
{
    text-align: center;
}


.text-vak .datum
{
    width: 100%;
}

.page-wrapper h2
{
    text-align: center;
}

.redirect
{
    color: #006669;
    text-decoration: underline;
    text-align: center;
}

.redirect:hover
{
    color: #005255;
    cursor: pointer;
}

.logintabel
{
    width: 25%;
    margin-left: 35%;
    margin-right: 35%;
}

.registratietabel
{
    margin-left:auto;
    margin-right:auto;
}

.submitbutton
{
    width: 100px;
    height: 50px;
    background: #212930;
    color: #42b983;
    border: none;
    text-shadow: white;
    border-radius: 7.5px;
}

.submitbutton:hover
{
    cursor: pointer;
    background: black;
}
