body{
    margin: 0;
    padding: 0;
}

nav, #logoutdiv {
    width: 100%;
    text-align: center;
    background-color: #212930;

}

::-webkit-scrollbar{
    width: 20px;
}

::-webkit-scrollbar-track{
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #51bb7b;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #005255;

}


nav{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: '. logo .'
                        '. links cart';
}

#Logo{
    width: 100%;
    height: 100px;
    grid-area: logo;
}

#links>a, #logoutdiv>a{
    font-size: 25px;
    display: inline-block;
    padding: 5px 15px;
    color: #51bb7b;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
}

nav>a:hover, #logoutdiv>a:hover{
    cursor: grab;
    background-color: black;
}



#links{
    grid-area: links;
}

#cart-info{
    grid-area: cart;
}

