/* Main content */
.page-wrapper {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}



/* Fixed sidenav, full height */
.dropdown-sidebar {
    height: auto;
    min-height: 30%;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    border-right: groove lightgrey 2px;

}

/* Style the sidenav links and the dropdown button */
.dropdown-sidebar a {
    padding: 40px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #111;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


/* On mouse-over */
.dropdown-sidebar a:hover {
    color: #51bb7b;
}

li{
    list-style: none;
}

#prijs{
    margin: 0 20px;
    color: black;
}

.totaalprijs{
    color: black;
}

.pagetop, .pagebot{
    text-align: center;
}

.productimg{
    max-height: 200px;
    max-width: 200px;
    height: max-content;
}