@media only screen and (max-width: 750px) {
    nav>a {
        display: block;
        padding: 0;
        margin: 0;
    }
    header {
        width: 100%;
    }
    #Logo {
        padding-bottom: 8px;
    }
    .content .main-content .post {
        width: 100%;
    }
    .content .main-content {
        width: 100%;
        padding: 10px;
    }
    .content .sidebar {
        width: 100%;
        padding: 10px;
    }
    .content .sidebar .section.search {
        margin-top: 30px;
    }
    .footer {
        height: auto;
    }
    .footer .footer-content {
        height: auto;
        flex-direction: column;
    }
    .footer .footer-content .contact-form {
        padding-bottom: 90px;
    }
   .columnFlexContainer{
       display: flex;
       flex-direction: column;
       width: 50%;
   }
    header {
        position: relative;
    }
    header ul {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .showing {
        max-height: 100cm;
    }
    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }
    header ul li ul li a {
        padding: 10px;
        padding-left: 50px;
    }
    .page-wrapper {
        margin-top: 300px;
    }
    .dropdown-sidebar {
        width: 93%;
        margin-top: 60px;
        min-height: 100px;
    }
    .dropdown-sidebar {
        padding-top: 50px;
        text-align: center;
    }
    .init_tabel{
        padding-top: 300px;
    }
    #dropdown-container-account {

    }
}